.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App input {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 475px;
  height: 10px;
  font-size: 20px;
  padding: 10px;
}
